In [3]:
print ("hello")

hello

In [6]:
#Variables in python

name='Sanchit'    #name is variable and sanchit is value
name

Last_name = 'Padwal'  #  _ underscore use only inside a variable
Last_name

'Padwal'

In [15]:
#data type
# 1 Numeric data type
#int
# a=10
# type(a)

#float
# a=10.0
# type(a)

#complex
#c=a+bj
#type(c)

In [4]:
# 2 text data type

#String

# str1='python'
# type(str1)

# str2="hi hello ,  how are you"
# type(str2)

#Indexing
#positive indexing

# text = 'python'
# text[2]
# text[3]

#Negative indexing
# text='python'
# text[-1]
# text[-6]

'p'

In [16]:
# 3 Boolean

# print(True or False )
# print(True and False)
# print(not True)

# print(5>2)
# print(5<8)
# print(5>2)
# print(5>9)

True
True
False

In [21]:
#None

# print(None)
# print(type(None))

# def no_return():
#     pass

# print(no_return())

None

In [31]:
#DATA STRUCTURE : 

# List : --- [ ]  and  mutable type , stored homogenous and heterogenous 

# d=[]   #--Empty list 
# type(d)

# student = ['Virat' , 'Rohit' , 'Ishan' ,'Pant']
# print("List : " , student)

# list1 = [1,2,'python',3,'SQl']
# print(list1)
# type(list1)

#indexing

# student = ['Virat' , 'Rohit' , 'Ishan' ,'Pant']
# student[2]
# student[-3]
# student[-1]

list

In [40]:
#List is a mutable means we perform operation like insert , delete , update

#add element :

#1) insert 
#2) append
#3) extend 

#insert

# a=[100,200,300,400]
# a
# a.insert(2,500)
# a

#append

# p=[10,20,30,40]
# p.append(50)
# p

#extend
# e=[10,20,30,40]
# o=[50,60]
# e.extend(o)
# e

#list is a iterable : tranversed or iterated over 

# list = [10,20,30,40]
# for item in list:
#     print(item)

10
20
30
40

In [43]:
# Delete items from the list : 

#remove()
#pop()
#clear()

#remove() :  value based
# list = [10,20,30,40] 
# list.remove(20)
# list

#pop() : index based

# list = [10,20,30,40] 
# list.pop(2)
# list

#clear() : all list clear

# list = [10,20,30,40] 
# list.clear()
# list

[]

In [47]:
#Update list :  indexing use to access that value

# list = [10,20,30,40] 
# list[2] = 'python'
# list

# list = [10,20,30,40] 
# list[-4] = 'python'
# list

[10, 20, 'python', 40]

In [49]:
#Some method of list data structure

#sort()  -- ascending or decending order   #use sort method data type shoulde be similar

# list = [10,20,30,40,5,15,25,35] 
# list.sort()
# list   #print outpur asc order


# list = [10,20,30,40,5,15,25,35] 
# list.sort(reverse=True)
# list  #print outpur desc order

[40, 35, 30, 25, 20, 15, 10, 5]

In [50]:
#reverse() : reverse the order of the item in the list

# list = [10,20,30,40,5,15,25,35] 
# list.reverse()
# list

[35, 25, 15, 5, 40, 30, 20, 10]

In [55]:
#count() -- return the number of occurrence of a specified item in list

# list = [10,20,30,40,5,15,25,35,10,40,10] 
# result = list.count(10)  #pass value of which count you want
# print(result)

3

In [57]:
#len() : return the number of item in list

list = [10,20,30,40,5,15,25,35,10,40,10] 
result = len(list)
result

11

In [58]:
#index() : - tells as index no. of particular value

list = [10,20,30,40,5,15,25,35,10,40,10] 
result = list.index(5)
result

4

In [59]:
#Copy : returns copy of your list 
list = [10,20,30,40,5,15,25,35,10,40,10] 
b= list.copy()
b

[10, 20, 30, 40, 5, 15, 25, 35, 10, 40, 10]

In [ ]:
#----------------------------------------------------------------------------------

In [11]:
#TUPLE :  () 

# a = (1,2,3,4,5)
# a

# a = (1,2,3,4,5)
# #a.index(2)

# count = len(a)
# count

# inside list add tuple

a = [1,2,3,'python',4,(10,20,30)]
a

# list is mutable ,  Tuple is immutable

a = (1,2,3,4,[5,7,8,'python'])
a
print(a[4][3])   # python element access

python

In [42]:
#SET :  { }

# empty set 
# a=set()
# a.type()

# a = {2,3,4,5}
# a

#add : 

# a = {2,4,5,6}
# a.add('python')   # no indexing  , added at any random location
# a

#update : use to add multiple item into set

# a= {2,3,4,5}
# b={'a' , 'b' ,'c'}      # insert item b into a 
# a.update(b)
# print(a)

#Deletion/Removing : 

# a={'b', 2, 3, 4, 5, 'a', 'c'}
# a.remove('a')
#print(a)   # a removed inside a set , In a set provide a value not indexing 
# print(h)  #give error bcz h not avilable in set

#discard : same as remove method , only diff in discard value not present then not give error
# a.discard(10)  
# a


#pop :  randomly element remove 
# a={'b', 2, 3, 4, 5, 'a', 'c'}
# a.pop()
# a

#Two set presnt then perform diff operation
Loan = {'a' , 'b' ,'c' ,'d'}
credit = {'c' , 'a' ,'h' ,'j'}

#intersection - give common element
#Loan.intersection(credit)

#difference  - give uncommon element
# Loan.difference(credit)

#union - combine two or more set
#Loan.union(credit)

#symmetricdifference
# Loan.symmetric_difference(credit)

#isset , issubset , isdisjoint

False

In [67]:
#Dictionary : {}

# {key : value}

#empty dict
# a={}
# a

#Access value of dict : 

# a = {'a' : 1 , 'b' : 2 , 'c' : 3}
# a

# print(a['c'])
#print(a['d'])  #showing error bcz key is not avilable

#get() :
# a = {'a' : 1 , 'b' : 2 , 'c' : 3}
# print(a.get('b'));
# print(a.get('d'));  #not  give error ,


#Insert new key value pair in dict :

# a = {'a' : 1 , 'b' : 2 , 'c' : 3}
# a['d']=4   #inserted to a dict
# a


# #Update : multiple key value pair inserted
# a = {'a' : 1 , 'b' : 2 , 'c' : 3}
# a.update({'name' : 'python' , 'score' : 90})
# a

# a.keys()   # shows keys 
# a.values() # shows vales
# a.items()  # shows key:value pair 

#FromKeys() : 

# a = [10,20,30,40]
# c = dict.Fromkeys(a)
# print(c)

# 1 key multiple value possible
# a = {'Name' : ['sanchit' , 'rohit' ,'virat'],
#       'Adress' : ['pune' , 'dharashiv' , 'mumbai'],
#        'Sports' : ['cricket' , 'cricket' , 'cricket']};
# a

#setdefault()

# a = {'a' : 1  , 'b' : 2 , 'c' : 3}
# a.setdefault('d',4)
# a.setdefault('b',5)  #b already present , not inserted
# a

#pop()  -- key is same work as indexing 
a = {'a' : 1  , 'b' : 2 , 'c' : 3}
a.pop('c')
a

{'a': 1, 'b': 2}

In [61]:
a={1,2,3,4,5,'a'}
a
type(a)

set

In [75]:
#STRING : data type/data structure in python : 

s = 'python'
print(type(s))

a= "python is 'good' language";
a

<class 'str'>

"python is 'good' language"

In [110]:
#operation perform on string : 

#Upper() : 
s = 'python'
print(s.upper())

#Lower() : 
s = 'python'
print(s.lower())

#Capitalize()  #first letter capital
s='python'
print(s.capitalize())

#Title() : 
a = 'python is good language'
print(a.title())

#swapcase() : 
a = 'pytHON'
print(a.swapcase())

#startswith() and endswith() : 
text="Hello , world"
print(text.startswith("Hello"))

#endswith
print(text.endswith("world"))  #true
print(text.endswith("Hello"))  #false

#split : 
text = "sanchitpadwal96@gmail.com"
text.split("@")
text.split("@")[0]

#Strip : 
text = "  python"
text.split()

a = '      python'
print("Before removing space : " , a)
print("After removing space : " , a.lstrip())

a = 'python         '
print("Before removing space : " , a)
print("After removing space : " , a.rstrip())

#How to inject dynamic content inside string :

#format()
a = 10
b = 20
c = 30
print("Addition of {} and {} is {}".format(a,b,c))

#fstring() 
a=10
b=20
c=30
print("Addition of {a} and {b} is {c}")


#find() : 

a = 'python'
a.find('t')
a.find('s')  #give output -1

PYTHON
python
Python
Python Is Good Language
PYThon
True
True
False
Before removing space :        python
After removing space :  python
Before removing space :  python
After removing space :  python
Addition of 10 and 20 is 30
Addition of {a} and {b} is {c}

-1

In [121]:
#input method : 

# a = input("Enter the name : ")
# a
# type(a)  #type is str

# a = input("Enter the name : ")  #write a 19395
# a
# type(a)    # type is also str ,  bcz bydefault type is string  so using typecasting convert string to int

# #string to int
# a = int(input('Enter the name : '))
# a
# type(a)  # type is int

#float to string

# #isalpha() : 
# a = "abc"
# print(a.isalpha())  #true , all character in the string 

# a = '145'
# print(a.isnumeric())

#isalnum()
# a = "123python" 
# a.isalnum()

True

In [8]:
#Type casting  : convert single data type to another data type

# manually - programmer does the manual conversion
# Automatic - compiler perform the automatic conversion

# c = '123'
# int(c)
# type(c)

#alphabetic string cannot convert into int/float but all float/int convert into string

# c = 123
# str(c)


# d = 'python'
# int(d)  # give error bcz alphabet to numeric not possible

'123'

In [11]:
#converting data structure : 

#list to tuple :

# a=[10,20,30,40,50]
# tuple(a)

#dict to other data structure not possible is key:value pair

a = '10.30'    #string numeric
c = float(a)
print(type(c))

<class 'float'>

In [26]:
#SLICING : Slicing in the string 

#syntax :   a[start:end:step]

# a = 'python'
# a[0:3:1]


a = 'python'
a[2:4:1]

a = 'python'   # reverse string
a[-1::-1]

a='python'   # reverse string
a[::-1]

'nohtyp'

In [ ]:
#Operator :